/*-- scss:defaults --*/
$font-family-sans-serif: 'Fira Sans', sans-serif;
$font-family-monospace: 'Hack', monospace;

$h1-font-size: 1.5rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.3rem !default;
$h4-font-size: 1.1rem !default;
$h5-font-size: 1rem !default;


/*-- scss:rules --*/

.center{
  text-align: center;
}